@import '../node_modules/primeicons/primeicons.css'; /* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.ui-sidebar-bottom {
  height: 20em;
}


/*.ag-row {*/
/*  font-size: 10px;*/
/*}*/
/*}*/

.ui-sidebar {
  background-color: #1a2226!important;
  border: none!important;
}
